section{
  height: 100vh;
  /* position: relative; */
}
   
    .main-wrapper{
        position: relative;
      }
      video.bg-video {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.2;
      z-index: -1;
    }
  
      .nav-wrapper {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 90px;
        z-index: 9;
        padding: 0 200px;
        gap: 25%;
      }
      .nav-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
      transition: all 0.5s ease;
      transform: translateX(-145%);
      width: 100%;
      }
      
      .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transition: all 0.5s ease;
      transform: translateX(160%);
      }
      .scocial-link-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      }
      .nav-link a{
        color: #000;
        font-family: var(--givonic_regular);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
      }
  
      .scocial-link-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
      }

      a.scocial-link {
        width: 50px;
      }

      .main-banner {
        height: 100vh;
        position: relative; 
        background:url(../images/sec-bg.mp4) center center no-repeat;  
      }
      .banner-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s ease; 
        width: 500px;
      }  
      .banner-logo.fixed {
        position: fixed;
        top: 25px;
        width: 99px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
      }

      
      .sticker-sec {
        height: 100vh;
        position: relative;
        /* background-color: #F00; */
      }
      .div3 {
        height: 100vh;
      }
      .sticker {
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transition: all 0.5s ease;
      }
      .sticker img {
        width: auto;
    }
      .st1 { bottom: 0%; left: 18%; }
      .st2 { bottom: 0%; right: 27%; }
      .st3 { bottom: 0%; left: 36%; }
      .st4 { bottom: 0%; left: 3%; }
      .st5 { bottom: 2%; right: 15%; }
      .st6 { bottom: 2%; right: 8%; }
  
      .sticker-title-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        transition: all 0.5s ease;
        transform: translate(-50%, -50%)  scale(1);
        height: 250px;
        overflow: hidden;
      }
      .text-heading h2 {
        color: #000;
        text-align: center;
        font-family: var(--poppins_bold);
        font-size: 130px;
        font-style: normal;
        font-weight: 700;
        line-height: 125px; 
        letter-spacing: -5.2px;
      }
      .text-heading h2 span{
      font-family:var(--robotoserif_italic);
      font-style: italic;
      font-weight: 400;
      }
  
      .text-heading-2 h2 {
        color: #000;
        text-align: center;
        font-family:var(--robotoserif_italic);
        font-size: 130px;
        font-style: italic;
        font-weight: 00;
        line-height: 125px; 
        letter-spacing: -5.2px;
      }
      .text-heading-2 h2 span{
        font-family: var(--poppins_bold);
      font-style: normal;
      font-weight: 700;
      }
      .text-heading {
        transition: all 0.5s ease;
        transform: translateY(0px);
      }
    .text-fadeup .text-heading-2 {
      transition: all 0.5s ease;
      transform: translateY(0px);
     }
      .text-fadeup .text-heading {
        transform: translateY(-250px);
      }
     .text-fadeup .text-heading-2 {
        transform: translateY(-250px);
      }
      .contact-uc-cta{
        text-decoration: none;
        border: 1px solid #F00;
        padding: 16px 26px;
        border-radius: 35px;
        color: #F00;
        font-family: var(--givonic_regular);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }

      .sticker.st2 {
        transition: all 0.5s ease;
        transform: rotate(0deg)  scale(1);
        animation: rotateAndResize 3s infinite; 
      }

      @keyframes rotateAndResize {
        0% {
          transform: rotate(0deg) scale(1); 
          
        }
        50% {
          transform: rotate(50deg) scale(0.8);    
        }
        100% {
          transform: rotate(0deg) scale(1);
        }
      }

      .brandlogo-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .brandlogo-heading h2 {
      color: #000;
      text-align: center;
      font-family:var(--robotoserif_italic);
      font-size: 130px;
      font-style: italic;
      font-weight: 00;
      line-height: 125px; 
      letter-spacing: -5.2px;
    }
    .brandlogo-heading h2 span{
      font-family: var(--poppins_bold);
    font-style: normal;
    font-weight: 700;
    }

    .logo {
      position: absolute;
      left: -10%;
      top: 0;
    }

    .logo img {
      height: 100%;
      width: 100%;
    }

    .brands-wrap {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transition: all 0.5s ease;
      transform: translate(-50%, -50%) scale(0.3);
      opacity: 0;
      
  }
  h2.brands-heading {
    color: #000;
    text-align: center;
    font-family:var(--robotoserif_italic);
    font-size: 130px;
    font-style: italic;
    font-weight: 00;
    line-height: 125px; 
    letter-spacing: -5.2px;
  }
  h2.brands-heading span{
    font-family: var(--poppins_bold);
  font-style: normal;
  font-weight: 700;
  }

  .brand-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.brand-logo.lg-1{
  width: 290px;
  height: auto;
  left: 20%;
  top: 0;
  transition: all 0.5s ease;
  transform: translateY(-250px);
}

.brand-logo.lg-2 {
  width: 200px;
  height: auto;
  left: 5%;
  top: 45%;
  transition: all 0.5s ease;
  transform: translate(-250px);
}

.brand-logo.lg-3 {
width: 260px;
height: auto;
right:5%;
top: 45%;
transition: all 0.5s ease;
transform: translate(250px);
}

.brand-logo.lg-4 {
width: 290px;
height: auto;
right: 0%;
top: 0;
transition: all 0.5s ease;
transform: translateY(-250px);
}

.brand-logo.lg-5 {
  width: 260px;
  height: auto;
  right: 33%;
  top: auto;
  transition: all 0.5s ease;
  transform: translatey(250px);
  bottom: 7%;
}
  
  .brand-logo.lg-6 {
  width: 290px;
  height: auto;
  transform: translateY(200px);
  bottom: 5%;
  left: 20%;
  transition: all 0.5s ease;
  transform: translateY(250px);
  }
  .video-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(0.3);
    opacity: 0;
  }
 

  /* big goals section css starts */

  .big-goals-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
}

.big-goals-heading{
color: #000;
text-align: center;
font-family: var(--robotoserif_italic);
font-size: 90px;
font-style: italic;
font-weight: 400;
line-height: 173px; 
letter-spacing: -5.4px;
}

.big-goals-heading span{
font-family:var(--poppins_bold);
font-weight: 700;
line-height: 160px;
letter-spacing: -7.8px;
}


  /* big goals section css Ends */

   /* em buzzz section css starts */


   .em-buzzz-wrap{
    padding: 99px 112px 190px;
   }

   .em-buzzz-heading{
    padding-bottom: 150px;
   }
  .heading-2{
    text-align: center;
    color: #000;
    font-family: var(--poppins_medium);
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -5.4px;
    margin: 0;
  }
  .heading-2 span{
    font-family: var(--robotoserif_italic);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -7.8px;
  }

  .em-buzzz-card-wrapper {
    display: block;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.em-card {
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 32px;
    height: 412px;
    width:100%;
    overflow: hidden;
   
}
.em-card-tag {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.70);
    width: max-content;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.em-card-tag h4 {
    color: #000;
    font-family:var(--givonic_regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -0.56px;
    margin: 0;
}
.em-card-conent {
    display: flex;
    flex-direction: column;
    gap: 50px;
   
}
.em-card-title {
   color: #000;
  font-family: var( --poppins_semi_bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.96px;
  margin: 0;
  transition: all 0.5s ease;
}

.em-card-subtitle {
    color: rgb(0 0 0 / 60%);
    font-family:var(--givonic_regular);
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -0.72px;
    margin: 0;
    transition: all 0.5s ease;
}
.em-card-arrow-wrap {
    display: flex;
    justify-content: end;
}
.em-card-arrow {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 80px;
    border: 0.8px solid #000;
    justify-content: center;
    overflow: hidden;
}


.arrow1 {
    transition: all 0.5s ease;
    transform: translateX(-10px);

}

.arrow2 {
    transition: all 0.5s ease;
    transform: translateX(-15px);

}
.em-card:hover .arrow1 {
    transition: all 0.5s ease;
    transform: translateX(20px);

}
.em-card:hover .arrow2 {
    transition: all 0.5s ease;
    transform: translateX(15px);
}
.em-card-conent-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 0 30px;
    position: relative;
    z-index: 1;
}

.em-card:hover .em-card-title {
    transform: translateY(-20px);
}

.em-card:hover .em-card-subtitle {
    transform: translateY(-50px);
}
.card-1 .card-bg1{
  position: absolute;
  top: 0;
  right: 0;
}
.card-1 .card-bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
}
 .card-2 .card-bg1{
  position: absolute;
  top: 0;
  right: 0;
}
.card-2 .card-bg2 {
    position: absolute;
    top: 0;
    right: 0;
}
.card-2  .card-bg3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-3  .card-bg1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-4 .card-bg1 {
    position: absolute;
    top: 0;
    right: 0;
}
.card-4 .card-bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-5  .card-bg1 {
    position: absolute;
    top: 0;
    left: 0;
}
.card-5  .card-bg2 {
    position: absolute;
    top: 0;
    left: 0;
}
.card-5 .card-bg3 {
    position: absolute;
    bottom: 0;
    left: 0;
}



.card-1 {
  transform: translateY(150px);
  transition: all .9s ease;
}

.sec-parent .card-1 {
  transform: translateY(0px);
  transition: all .9s ease;
}


.card-2 {
  transform: translateY(180px);
  transition: all .9s ease;
}

.sec-parent .card-2 {
  transform: translateY(0px);
  transition: all .9s ease;
}



.card-3 {
  transform: translateY(210px);
  transition: all .9s ease;
}

.sec-parent .card-3 {
  transform: translateY(0px);
  transition: all .9s ease;
}

.card-4 {
  transform: translateY(240px);
  transition: all .9s ease;
}

.sec-parent .card-4 {
  transform: translateY(0px);
  transition: all .9s ease;
}

.card-5 {
  transform: translateY(270px);
  transition: all .9s ease;
}

.sec-parent .card-5 {
  transform: translateY(0px);
  transition: all .9s ease;
}

.card-6 {
  transform: translateY(300px);
  transition: all .9s ease;
}

.sec-parent .card-6 {
  transform: translateY(0px);
  transition: all .9s ease;
}

  /*em buzzz section css Ends */


 /* ourscroll section css Start's */

  .ourscroll-wrap {
    padding: 99px 110px 50px;
}

.ouscroll-slide-wrapper {
    margin-top: 45px;
}
.ourscroll-slider{
 overflow: visible; 
}
.ourscroll-card {
    position: relative;
    overflow: hidden;
    border-radius: 32px;
}


.ourscroll-card-tag a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    background: rgba(147, 147, 147, 0.46);
    backdrop-filter: blur(16.799999237060547px);
    width: 100%;
    padding: 26px 32px 26px 
  }
.ourscroll-card-tag img {
    height: 48px;
    width: 48px;
}

.ourscroll-card-tag {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    transition: all 0.5s ease;
    transform: translateY(150px);
}
.ourscroll-card:hover  .ourscroll-card-tag {
  transform: translateY(0px);
}

p {
    color: #FFF;
    font-family:var(--givonic_regular);
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -1.44px;
    margin: 0;
}
.exploreCta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 66px;
}
.solid-btn {
    display: flex;
    width: fit-content;
    height: 60px;
    padding: 25px 95px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 71px;
    background: #F00;
    color: #FFF;
    font-family:var(--Givonic-SemiBold);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.solid-btn:hover{
  color: #FFF;
}

.solid-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #880000;
    border-radius: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: 
        opacity 0.45s cubic-bezier(0.215, 0.61, 0.355, 1), 
        border-radius 0s 0.45s, 
        transform 0s 0.45s;
}

.solid-btn:hover:after {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0);
    transition: 
        border-radius 0.45s cubic-bezier(0.215, 0.61, 0.355, 1), 
        transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
 /* ourscroll section css Ends */


 /* common form section css Starts */


 .common-form {
    padding: 100px 165px 165px 110px;
    display: grid;
    grid-template-columns: 45% 50%;
}

.common-form-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.common-form-heading .heading-2 {
    text-align: left;
    font-family: var(--poppins_medium);
    line-height:normal;
 
}

.interestedIn-wrap {
    padding-top: 110px;
}

.interestedIn-title {
    color: #000;
    font-family: var(--givonic_regular);
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -1.44px;
    margin: 0;
    margin-bottom: 40px;
}

.interestedIn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 10%;
}
.interestedIn-list-item{
    border-radius: 100px;
    border: 1px solid #000;
    display: flex;
    padding: 21px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #000;
    font-family:var(--givonic_regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; /* 100% */
    letter-spacing: -0.96px;
    cursor: pointer;
}
  .form-group {
      padding-bottom: 90px;
}
 .form-group:last-child{
  padding: 0;
 }

.form-control {
    background: none;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0;
    padding: 20px 0;
    color: #000;
    font-family: var(--givonic_regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; /* 100% */
    letter-spacing: -0.96px;
}
.form-control:focus {
    /* color: ; */
    background-color:unset;
    border-color: unset;
    outline: 0;
    box-shadow:none;
}
.form-control::placeholder{
  color: #000;
  font-family: var(--givonic_regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px; /* 100% */
  letter-spacing: -0.96px;
}
.form-label {
    margin-bottom: .5rem;
    color: #000;
    font-family: var(--givonic_regular);
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: -1.44px;
}

textarea.form-control {
    height: 75px;
    overflow: hidden;
}

.project-budget-title {
    color: #000;
    font-family: var(--givonic_regular);
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -1.44px;
    margin: 0;
    margin-bottom: 40px;
}

.project-budget-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 10%;
    margin-top: 25px;
}
.project-budget-list-item{
    border-radius: 100px;
    border: 1px solid #000;
    display: flex;
    padding: 21px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #000;
    font-family:var(--givonic_regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; /* 100% */
    letter-spacing: -0.96px;
    cursor: pointer;
}
.form-btn{
  border: none;
}
 /* common form section css Ends */

 /* awardssection css Startss */
 
 .awards-sec {
  padding: 91px 250px 91px;
  background-image: url(../images/awardsection-bg.png) ;  
  background-repeat: no-repeat;
  
 }
 .awards-heading .heading-2{
  color: #fff;
 }
 .awards-wrapper {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.awards-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
    margin-top: 45px;
    position: relative;
    width: 100%;
}
.right-wing img{
  position: absolute;
  height: 100%;
  width: 100px;
  bottom:  28px;
  right: 0px;
}
.left-wing img{
  position: absolute;
  height: 100%;
  width: 100px;
  bottom: 28px;
  left: 0px;
}

/* .awards-tag {
     color: #FFF;
    text-align: center;
    font-family: var(--Givonic-SemiBold);
    font-size: 12px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
     letter-spacing: 0.8px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(16px);
    padding: 8px;
    margin: 0;

} */

/* .awards-title {
    color: #FFF;
    text-align: center;
    font-family: var(--Givonic-SemiBold);
    font-size: 12px;
    font-style: normal;
    font-weight: 750;
    line-height: 18px;
} */

.awards-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.awards-row:first-child {
    margin: 0 10%;
}
  /* awards section css Ends */


 /*footer css Starts */


 .footer-sec{
  background: #000;
    padding: 250px 250px 100px;
 }

 .footer-content {
  
}
h4.footer-subtitle {
    color: #FFF;
    text-align: center;
    font-family: var(--poppins_regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: -0.96px;
    margin-bottom: 38px;
}
.footer-title {
    padding: 75px 10px;
    border-radius: 200px;
    border: 1px solid rgba(110, 110, 110, 0.51);
    background: rgba(110, 110, 110, 0.26);
    backdrop-filter: blur(8.100000381469727px);
     display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 280px;
    
}
.footer-title-text{
color: #FFF;
text-align: center;
font-family: var(--robotoserif_italic);
font-size: 101px;
font-style: italic;
font-weight: 400;
line-height: 110px; /* 108.911% */
letter-spacing: -6.06px;
padding-right: 100px;
will-change: transform;
transform: translateX(0);
white-space: nowrap;
animation: marquee 24s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer-title-text::after{
  content: "";
    position: absolute;
    width: 100px;
    height: 80px;
    top: 50%;
    right: 0;
    background-image: url(../images/white-dot.png);
    background-repeat: no-repeat;
    transform: translateY(-50%);
}


.footer-title-text span{
font-family: var(--poppins_medium);
font-weight: 500;
letter-spacing: -6.06px;
font-style:normal;

}

.footer-links-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-bottom: 55px;
    border-bottom: 1px solid rgb(255 255 255 / 30%);
}

.footer-links-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-link a{
    color: #FFF;
    font-family: var(--poppins_semi_bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}
.arrow-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 16px;
    width: auto;
    overflow: hidden;
}
.arrow-wrap img {
    height: auto;
    width: 16px;
}
img.arrow-img1 {
  transition: all 0.5s ease;
}
img.arrow-img2 {
    transform: translate3d(-16px, 0px, 0px);
    transition: all 0.5s ease;
}
.footer-link:hover img.arrow-img1 {
  transition: all 0.5s ease;
  transform: translate3d(16px, -16px, 10px);
}

.footer-link:hover img.arrow-img2 {
    transform: translate3d(0px, -16px, 0px);
    transition: all 0.5s ease;
}
.social-links{
  gap: 20px;
}
.footer-policy-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-policy-wrap-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

 .footer-policy-wrap a {
    color: #888;
    font-family: var(--poppins_semi_bold);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.6px;
}

img.footersticker1 {
    width: 190px;
    height: auto;
    position: absolute;
    top: 50%;
    left: -60px;
}
img.footersticker2 {
    width: 380px;
    position: absolute;
    top: -160px;
    right: 15%;
}
img.footersticker3 {
    width: 450px;
    position: absolute;
    bottom: -251px;
    right: -200px;
}
img.footersticker4 {
    position: absolute;
    width: 100px;
    bottom: 30%;
    left: 50%;
}

img.footersticker5 {
    width: 115px;
    position: absolute;
    left: 10%;
    top: 15%;
}

  /*footer css Ends */

 /* stories css Starts */
  .stories-sec{
    padding: 398px 97px 155px;
  }

  .stories-card-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 63px;
    margin-top: 60px;
}


.stories-cardwrap:nth-child(even){
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}
  .stories-card-video-wrap {
    height: 434px;
    width: 772px;
    margin: 25px 0;
    }

   .stories-card-heading {
   width: 220px;
  }
.stories-card-title {
    color: #000;
    font-family: var(--poppins_semi_bold);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.96px;
}
.stories-card-subtitle {
    color: #000;
    font-family: var(--givonic_regular);
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: -0.72px;
}
.stories-card-list {
    display: flex;
}
.stories-card-listitem p {
    color: #000;
    font-family:var(--givonic_regular);
    font-size: 36px;
    font-style: normal;
    font-weight: 450;
    line-height: 34px;
    letter-spacing: -1.44px;
}

.stories-card-listitem span {
    color: #000;
    font-family: var(--givonic_regular);
    font-size: 28px;
    font-style: normal;
    font-weight: 450;
    line-height: 34px;
    letter-spacing: -1.12px;
}

.stories-card-listitem:first-child{
  padding-left: 0;
}

.stories-card-listitem {
    padding: 0 14px;
    position: relative;
}
.stories-card-listitem:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 55px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #000;
}
.stories-card-listitem:first-child:before{
  display: none;
}

.stories-card-video-wrap video,.stories-card-video-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}
  /* stories css Ends */

/* services card container css Starts */
.services-card-container {
    padding: 120px 147px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.services-card {

    position: relative;  
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #C3C3C3;
    background: #F9F9F9;
    backdrop-filter: blur(11px);
    height: 381px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
     overflow: hidden;
    }

   

    .services-card-icn {
      position: absolute;
      top: 24px;
      left: 50px;
      transform: translateX(-50%);
      transition: top 0.5s ease, opacity 0.5s ease;
    }
    .services-card-content {
    width: 80%;
}

    .services-card:hover .services-card-icn {
      top: -60px;
      opacity: 0;
    }
      .services-card-icn img {
          width: 62px;

      }

    .services-card-content-wrapper {
      position: absolute;
      left: 30px;
      right: 0;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      transition: bottom 0.5s ease;
    }

    .services-card:hover .services-card-content-wrapper {
      bottom: 280px
    }

    .services-card-title {
      color: #000;
      font-family:var(--Givonic-SemiBold);
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.68px;
      margin: 0 0 8px;
    }

    .services-card:hover .services-card-title{
        min-height: 60px;
    }
       

 .services-card-subtitle {
   color: rgb(0, 0, 0, 0.6);
    font-family:var(--poppins_regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.8px;

    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.services-card:hover .services-card-subtitle {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  height: 0;
  margin: 0;
}
    .hashtags-wrap {
    
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.4s ease, transform 0.4s ease;
      height: 0;
    }
    .hashtags-parent{
       display: flex;
       flex-wrap: wrap;
        gap: 6px;
        width: 90%;
    }

    .services-card:hover .hashtags-wrap {
      opacity: 1;
      transform: translateY(-5px);
    }

    .services-card-hashtag {
      color: #000;
    font-family: var(--poppins_regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    border-radius: 33px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    background: rgba(255, 255, 255, 0.50);
    padding: 6px 10px;

    cursor: default;
    white-space: nowrap;
    transition: all 0.3s ease;
    }

  

    .services-card-link a {
    display: flex;
    width: 100%;
    align-items: center;
    color: #000;
    font-family:var(--Givonic-SemiBold);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.08px;
}
.services-card-link img {
    width: 24px;
    margin-left: 9px;
    height: 24px;
}
.services-card-link {
    position: absolute;
    bottom: 0px;
    transition: all 0.5s ease;
    transform: translateY(100px);
    width: 100%;
    padding: 30px;
    left: 0px;
    background: #F9F9F9;
    backdrop-filter: blur(11px);
}

.services-card:hover .services-card-link {
    transform: translateY(0px);
} 
.services-card-link a::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: #000;
    bottom: -5px;
    transition: all 0.5s ease;
}

.services-card-link a:hover::before {
    width: 100%;
}
  /* services card container css Ends */


   /* Leadershipcontainer css Starts */

 .heading-2.white-txt{
    color: #fff;
  }
 .Leadership-sec {
    padding: 185px 90px 190px 130px;
    background-image: url(../images/awardsection-bg.png);
    background-repeat: no-repeat;
    overflow: hidden;
 }

  .Leadership-cards-wrap {
    padding-top: 100px;
}
.leadership-slider{
  overflow: visibles;
}

.Leadership-card {
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: #303030;
    height: 100%;
}

.Leadership-card-img {
    padding: 12px 12px 0;
}
.Leadership-card-img img {
    border-radius: 32px;
}

.Leadership-card-content {
    padding: 29px 29px 29px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Leadership-card-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}
.Leadership-card-subtitle {
    color: #FFF;
    font-family: var(--poppins_medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.7px;
    opacity: 0.6;
}
.Leadership-card-title {
    color: #FFF;
    font-family: var(--poppins_semi_bold);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 0;
}
.Leadership-card-description {
    color: rgb(239, 239, 239, 0.6);
    font-family: var(--givonic_regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 0px;
}

  /* Leadershipcontainer css Ends */


 /*voices section css Ends */
 .about-us-bg {
    background-image: url(../images/aboutus-bg.png);
    background-repeat: no-repeat;
 }

 .voices-sec{
  padding: 145px 164px 250px;
  overflow: hidden;
  position: relative;
 }
 .review-wrap{
  padding-top: 130px;
 }

 .review-card {
    padding: 58px 30px 19px 30px;
    background: #AFAFAF40;
    border-radius: 32px;
}
.review-card-ratings img {
    width: 20px;
    height: 20px;
}
.review-card-comment {
    color:  #2D2D2D;
    font-family: var(--poppins_regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.5px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 24px;
}
.review-card-userdetail {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding-top: 16px;
    border-top: 1px solid #EAEAEA;
}
.review-card-user-avatar img {
    width: 35px;
    height: 35px;
}
.review-card-user-name h5 {
    color: #000;
    font-family: var(--poppins_semi_bold);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.review-card-user-name span {
    color:  #797979;
    font-family:var(--poppins_regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.review-slider{
overflow: visible;
}


.review-slider .swiper-wrapper {
    padding-top: 40px;
}
.review-card-comma {
    height: 56px;
    width: 56px;
    position: absolute;
    top: -30px;
    left: 30px;
}

.brands-marquee {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  overflow: hidden; /* hide overflow */
}

.brands-marquee-list {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: brandmarquee 20s linear infinite; /* Adjust time to control speed */
}

.brands-marquee-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 221px;
  flex-shrink: 0;
}

.brands-marquee-imgwrap img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Move the whole list to the left by 50% */
@keyframes brandmarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

 /*voices section css Ends */
 
 /*about us banner css Starts */

 .aboutus-banner-heading {
    max-width: 1265px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}
.aboutus-banner-heading .heading-2 {
    position: relative;
}
/* .aboutus-slider-wrapper {
      position: absolute;
    width: 280px;
    bottom: 18px;
    right: 0;
    height: 105px;
    display: flex;
    align-items: center;

} */

.aboutus-banner-slider{
    height: 85px;
    /* margin-bottom: 40px; */
}
.slide-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 33px 30px;
    border-radius: 100px;
    height: 100%;
}

.slide-card-img {
    display: flex;
    align-items: center;
    justify-content: unset;
    width: 32px;
    height: 32px;
}
.slide-card-title {
    color: #000;
    text-align: center;
    font-family:var(--givonic_regular);
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -1.28px;
    margin: 0;
}
.slide-bg1{
background: #E5F5E0;
}
.slide-bg2{
background: #E5F4F8;
}
.slide-bg3{
background: #F0E5FF;
}
.slide-bg4{
background: #FEF0DC;
}
.slide-bg5{
background: #EAEAFF;
}

.slide-wrap{
  display: flex;
  justify-content: center;
  gap: 25px;
}

.belief-system-cardimg img {
    width: 66px;
}


 /*about us banner css Ends */

 /* blogs details page css starts */

.blogs-details-body{
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 60px;
}
.blogs-banner-heading {
    padding: 0 14%;
}

.heading-3 {
    color: #000;
    text-align: center;
    font-family: var(--poppins_semi_bold);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height:normal;
    letter-spacing: -4.2px;
}
.blogs-banner-metadata-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 32px
}

.blogs-metadata-left p {
    color: #0C0407;
    font-family: var(--poppins_semi_bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.52px;
    letter-spacing: -0.16px;
    border-radius: 20px;
    background: #DFDFDF;
    box-shadow: 2px 6px 18px 0px rgba(0, 0, 0, 0.06);
    padding: 8px 12px;
}

.blogs-metadata-list {
    display: flex;
    align-items: center;
    gap: 27px;
}
.blogs-metadata-listitem {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}
.blogs-metadata-list {
    display: flex;
    align-items: center;
    gap: 27px;
}
.blogs-metadata-listitem {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    color: #333;
    font-family: var(--poppins_medium);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.blogs-metadata-listitem img {
    width: 16px;
    height: 16px;
}
.blogs-banner-img{
  padding-top: 40px;
}
.blogs-banner-img img{
  border-radius: 24px;
  
}


.blogs-details-content-wrapper{
  padding: 40px 100px;
}
.blogs-details-content-wrapper p {
    color: #333;
    font-family: var(--poppins_regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.44px;
}

.blogs-details-content h3 {
   color: #0C0407;
    font-family: var(--poppins_semi_bold);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}
.blogs-details-content {
    margin-top: 40px;
}

.blogs-details-content ul{
  margin: 40px 0;
}

.blogs-details-content ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: #0C0407;
    font-family: var(--poppins_semi_bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:normal;
    letter-spacing: -0.16px;
    margin-bottom: 15px;
}
.blogs-details-content ul li img {
    width: 20px;
}

.blogs-qoutes-box {
    border-radius: 12px;
    border-left: 5px solid var(--Red, #EB5757);
    background: #F3F3F3;
    margin: 26px 0;
    padding: 20px;
}
.blogs-qoutes-box h4 {
    color: #0C0407;
    font-family: var(--poppins_medium);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
}
.blogs-qoutes-box span {
    font-family: var(--poppins_bold);
    font-weight: 700;
   
}

.blogs-details-content-img{
  margin-top: 40px;
}

 .heading-3 span{
    font-family: var(--robotoserif_italic);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -7.8px;
  }

.letest-blogs-heading  .heading-3{
  text-align: left;
}

.letest-blogs-sec{
  padding: 120px 120px 140px;
}

.letest-blogs-wrapper {
    padding-top: 60px;
}

.letest-blogs-card {
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: radial-gradient(267.72% 139.47% at 0% 2.78%, rgba(178, 178, 178, 0.60) 0%, rgba(178, 178, 178, 0.00) 100%);
    backdrop-filter: blur(11px);
    
}

  .blog-card-img img {
    padding: 12px 12px 20px;
    border-radius: 32px;
    width: 100%;
    height: 238px;
    object-fit: cover;
}
.blog-card-content {
    padding: 0 25px 38px 29px;
}
.blog-card-subtitle {
    color: rgb(0 0 0 / 60%);
    font-family: var(--poppins_medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height:normal;
    letter-spacing: -0.7px;
    margin-bottom: 16px;
    display: block;
}
.blog-card-title {
    color: #000;
    font-family: var(--poppins_semi_bold);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 30px;
}
.blog-card-description {
    color: rgb(0 0 0 / 60%);
    font-family: var(--poppins_medium);
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -0.8px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-card-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.blog-card-description {
    font-size: 14px;
}
.blog-card-subtitle {
    font-size: 12px;
    margin-bottom: 10px;
   
}

 /* blogs details page css Ends */



 /* contact us page css Starts */

 .info-sec {
    padding: 80px 285px 80px 130px;
}

 /* contact us page css Ends */

 /* banner css starts here */

 
.main-container {
  display: block;
  width: 100%;
  padding: 120px 147px;
}

.banner-inn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.banner-inn span {
  color: #111;
  text-align: center;
  font-family: 'Givonic-SemiBold';
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.12px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 6%;
  /* 0.84px */
  text-underline-offset: 17.5%;
  /* 2.45px */
  text-underline-position: from-font;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.banner-inn h1 {
  color: #000;
  text-align: center;
  font-family: 'Poppins-Bold';
  font-size: 90px;
  line-height: 1.2;
  /* 111.111% */
  letter-spacing: -3.6px;
  margin-bottom: 28px;
}

.banner-inn h1 small {
  font-style: italic;
  font-family: 'RobotoSerif-Regular';
}

.banner-inn p {
  color: #000;
  text-align: center;
  font-family: 'Poppins-Light';
  font-size: 24px;
  line-height: 1.2;
  /* 133.333% */
  letter-spacing: -0.96px;
}


.banner-inn img {
  width: 100%;
}

.bannerInn-textArea {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}


 /* banner css starts here */


 /* conatct info section css starts here */

  .info-sec {
     padding: 80px 285px 80px 130px;
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 220px;
    background: url(../images/contactInfo.png);
  }

  .info-subtitle {
    color: #000;
    font-family:var(--poppins_medium);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.info-title {
    color: #000;
    font-family: var(--poppins_bold);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: -2.36px;
}
.info-title span{
    font-family: var(--robotoserif_italic);
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}
.info-right {
    display: grid;
    gap: 102px;
    grid-template-columns: 50% 50%;
}
.contact-info-card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-label {
    color: #000;
    font-family: var(--poppins_semi_bold);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 25px;
    position: relative;
}
.contact-label:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 27px;
    height: 2px;
    background: #000;
}
.contact-value {
    color: #000;
    font-family: var(--poppins_regular);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.contact-hours {
    color: #000;
    font-family: var(--poppins_regular);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
 /* conatct info section css Ends here */

 .musings-mobile-sec{
  display: none;
 }




 .effect-fadeUp {
  transform: translateY(90px);
  transition: all .9s ease;
  opacity: 0;
}

.sec-parent .effect-fadeUp {
  transform: translateY(0px);
  transition: all .9s ease;
  opacity: 1;
}

.prev-parent .effect-fadeUp {
  transform: translateY(-90px);
  transition: all .9s ease;
}